.CreateTodoButton {
    background-color: #a37756;
    box-shadow: 0px 0px 30px rgba(32, 35, 41, 0.15);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:hover {
    transform: rotate(224deg);
}

.CreateTodoButton.opened {
    transform: rotate(224deg);
    transition: .3s ease;
    z-index: 1;
}

.CreateTodoButton.opened:hover {
    transform: rotate(0);
}