.TodoCounter {
    font-size: 24px;
    text-align: center;
}

.TodoTitle {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-stretch: expanded;
    font-weight: 900;
}

.personal-logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.TodoHeaderLogo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}