.TodoSearch {
    background: #F9FBFC;
    border-radius: 10px;
    border: 0px solid;
    margin: 24px;
    height: 54px;
    width: calc(100% - 50%);
    min-width: 40vw;
    font-size: 18px;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Circular Std', sans-serif;
    font-weight: 400;
}

.TodoSearch:focus {
    outline: none;
}

.TodoSearch:disabled {
    opacity: 40%;
}